.hero{

    width:90%;

    margin:60px auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:60px;

}

.hero-left{

    flex:1;

}

.tag{

    display:inline-block;

    background:#EEF4FF;

    color:#1F5DE3;

    padding:10px 18px;

    border-radius:30px;

    font-size:15px;

    font-weight:600;

    margin-bottom:20px;

}

.hero-left h1{

    font-size:58px;

    color:#173B82;

    line-height:1.2;

    margin-bottom:25px;

}

.hero-left h1 span{

    color:#2E63F4;

}

.description{

    font-size:18px;

    color:#555;

    line-height:30px;

    margin-bottom:30px;

}

.hero-points{

    margin-bottom:40px;

}

.point{

    font-size:18px;

    margin:15px 0;

    color:#173B82;

    font-weight:600;

}

.hero-btn{

    background:#2E63F4;

    color:white;

    border:none;

    padding:18px 40px;

    font-size:18px;

    border-radius:50px;

    cursor:pointer;

    transition:.3s;

}

.hero-btn:hover{

    background:#1849d6;

}

.hero-right{

    flex:1;

    text-align:center;

}

.hero-right img{

    width:100%;

    max-width:600px;

    border-radius:25px;

}

@media(max-width:900px){

.hero{

    flex-direction:column;

}

.hero-left h1{

    font-size:40px;

}

}